
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<FrontEnd.Models.tblPastEvent>

	<link href="~/App_Theme/ImageGallery.css" rel="stylesheet" />

<div class="CurrentEventsWrap">


		<div class="HomeEventsHeader">Past Events</div>
				<div class="MainImgBlock">

			<div class="container">
				<div class="top">
					<ul>
						@foreach(var image in Model)
						{
							<li><a href="@("#img_" + image.PastEventID)"><img src="http://admin.javanika.com/PastEventImages/@image.ImagePath" /></a></li>
						}
					</ul>
					@foreach(var image in Model)
					{
						<a href="@("#_" + image.PastEventID)" class="lightbox trans" id="@("img_" + image.PastEventID)"><img src="http://admin.javanika.com/PastEventImages/@image.ImagePath" /></a>
					}
				</div>
			</div>


		</div>
		
		
		@*
				@foreach(var image in Model)
				{
					<div>@image.EventName</div>
					<div>@image.Month - @image.Year</div>
					<div><img src="http://admin.javanika.com/PastEventImages/@image.ImagePath" /></div>
				}		
		*@
		</div>
</div>