
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/App_Theme/V5-SeatingArrangementStyle.css" rel="stylesheet" />

@{ 
    FrontEnd.Models.JAVADBEntities db = new FrontEnd.Models.JAVADBEntities();

    var block1 = db.tblBlocks.Where(b => b.BlockNumber == "V5B1").SingleOrDefault();

    int eventID = Convert.ToInt32(Request["eventID"]);
    var evt = db.tblEvents.Where(e => e.EventID == eventID).SingleOrDefault();
}

<script src="~/App_Scripts/jquery.countdown.js"></script>
<script src="~/App_Scripts/jquery.cookie.min.js"></script>
<script type="text/javascript">
    $(function () {

        var date = new Date();
        var midnight = new Date(date.getFullYear(), date.getMonth(), date.getDate(), 23, 59, 59);

        if ($.cookie('refresh-@eventID') == null) {
            $.cookie('refresh-@eventID', 'true', { expires: midnight });
        }

        $(".chkSeats").click(function () {
            var seatID = $(this).val();

            if ($(this).is(":checked")) {
                SelectSeat(seatID);
            }
            else {
                RemoveSeat(seatID);
            }
        });
		
		$('#clock').countdown('@DateTime.Now.AddMinutes(25).ToString("yyyy/MM/dd HH:mm:ss")')
           .on('update.countdown', function (event) {
               var format = '%H:%M:%S';
               $(this).html(event.strftime(format));
           })
           .on('finish.countdown', function (event) {
               ClearSession(false);
               $("#clock").html("00:00:00");
			});
    });


    function SelectSeat(seatID) {
        $.ajax({
            url: "/V5Venue/SelectSeat",
            data: { seatID: seatID, eventID: '@Request["eventID"]' },
            type: "GET",
            success: function (response) {
                var data = JSON.parse(response);

                if (data.status == "OK") {

                    var noOfSeats = data.NoOfSeats;
                    var str = "";

                    if (parseInt(noOfSeats) > 0) {

                        str += '<tr>';
                        str += '<td>' + data.NoOfSeats + '</td>'
                        str += '<td>$' + data.TotalPrice + '</td>';
                        str += '</tr>';

                        $("#tbody").html(str);
                    }
                    else {
                        str += '<tr>';
                        str += '<td colspan="2" class="TierClass">No Bookings Yet</td>';
                        str += '</tr>';

                        $("#tbody").html(str);
                    }
                }
                else {
                    console.log("Booked");
                }
            }
        });
    }

    function RemoveSeat(seatID) {
        $.ajax({
            url: "/V5Venue/RemoveSeat",
            data: { seatID: seatID, eventID: '@Request["eventID"]' },
            type: "GET",
            success: function (response) {
                var data = JSON.parse(response);

                if (data.status == "OK") {
                    var noOfSeats = data.NoOfSeats;
                    var str = "";

                    if (parseInt(noOfSeats) > 0) {

                        str += '<tr>';
                        str += '<td>' + data.NoOfSeats + '</td>'
                        str += '<td>$' + data.TotalPrice + '</td>';
                        str += '</tr>';

                        $("#tbody").html(str);
                    }
                    else {
                        str += '<tr>';
                        str += '<td colspan="2" class="TierClass">No Bookings Yet</td>';
                        str += '</tr>';

                        $("#tbody").html(str);
                    }
                }
                else {
                    console.log("Booked");
                }
            }
        });
    }

    function ProceedBooking() {
        $("#frmBooking").submit();
    }
</script>


<div>

    <div class="EventSeatHead">
        @evt.EventName @evt.EventType | Show time: @evt.ShowTime | Venue: @evt.tblVenue.VenueName
    </div>
	
    <div class="MainOuterSeatingWrap">
        <div class="app-inner">
            <div class="StageWrap">Stage / Screen this side</div>
            <div>
                <div class="DragContent">Drag towards Right to view seats</div><div class="DragImg"><img src="~/App_Images/DragArrow.png" width="50px" /></div>
                <div class="clr"></div>
            </div>
            <br />

                @if (block1 != null)
                {
                    <ol id="@block1.BlockNumber" class="cabin fuselage">
                           @{
                               var seat_rows = db.tblSeatRows.Where(b => b.BlockID == block1.BlockID).OrderByDescending(s => s.SeatRowID).ToList();

                               foreach (var row in seat_rows)
                               {
                                   var seats = db.tblSeats.Where(s => s.SeatRowID == row.SeatRowID).ToList();

                                    <li class="row">
                                        <ol class="seats" type="A">
                                            @foreach (var seat in seats)
                                            {
                                                if (seat.Status == "PRESENT")
                                                {
                                                    var isBooked = db.tblSeatSelections.SqlQuery("SELECT * FROM TBLSEATSELECTIONS WHERE SEATID = " + seat.SeatID + " AND EVENTID =" + eventID + " AND ORDERID IS NOT NULL AND ORDERID IN (SELECT ORDERID FROM TBLTICKETORDERS WHERE STATUS = 'SUCCESS')").Any();

                                                    <li class="seat">
                                                        <input type="checkbox" id="@seat.SeatID"  @(isBooked ? "disabled" : "") class="chkSeats" value="@seat.SeatID" />
                                                        <label for="@seat.SeatID">@seat.SeatNumber</label>
                                                    </li>
                                                }
                                                else if (seat.Status == null)
                                                {
                                                    <li class="seat">

                                                    </li>
                                                }
                                            }
                                        </ol>
                                    </li>
                               }
                          }
                    </ol>
                }
        </div>
    </div>

    <div class="RightOuterSeatingWrap">

        <div class="BookDetHead">Booking Details</div>

        <div class="SessionTimeWrap">
            <div class="SessionTime">Session will timeout in:</div>
            <div id="clock">15.00</div>
        </div>

       

        <div class="BookingHead">Your Bookings</div>
        <table class="TierTbl" border="1">
            <tr>
            
                <th>Seats</th>
                <th>Total Cost</th>
            </tr>
            <tbody id="tbody">
                <tr>
                    <td colspan="3" class="TierClass">No Bookings Yet</td>
                </tr>
            </tbody>
        </table>

        <form id="frmBooking" method="post" action="/BookingSummary/Summary">
            <input type="hidden" id="eventID" name="eventID" value="@Request["eventID"]" />
        </form>

        <button class="btnBookings" onclick="JavaScript: ProceedBooking();">Proceed with Bookings</button>
    </div>


    <div class="clr"></div>
</div>
<script src="~/App_Scripts/scrollbooster.min.js"></script>

<script>
    let viewport = document.querySelector('.MainOuterSeatingWrap')
      let content = viewport.querySelector('.app-inner')

      let scr = new ScrollBooster({
        viewport: viewport,
        content: content,
        // textSelection: true,
        emulateScroll: true,
        onClick: (data, event)=> {
          //event.preventDefault()
        },
        shouldScroll: (data, event) => {
          if (event.target.tagName == 'BUTTON') {
            return false
          } else {
            return true
          }
        },
        onUpdate: (data)=> {
          // viewport.scrollLeft = data.position.x
          // viewport.scrollTop = data.position.y
          content.style.transform = `translate(
            ${-data.position.x}px,
            ${-data.position.y}px
          )`
        }
      })
</script>

